<a href='/logout'><button>Logout</button><br><br>
<h1 id="hello">Welcome to Task Helper!</h1>
<img id="task_pic" src="images/image.jpg"><br><br>
<p2 id="question">What would you like to do?</p2><br><br>
<a href="/new"><button id="action_button">Add a Task</button></a>
<a href="/dashboard"><button id="action_button">Go to Dashboard</button></a>
