<h2>Create new user</h2>
<form action='/new_user' method="post">
	<label for="username">Username</label>
	<input type="tel" name="username"><br><br>
	<label for="phone">Phone Number</label>
	<input type="text" name="phone" placeholder="1234567890"><br><br>
	<label for="password">Password</label>
	<input type="password" name="password"><br><br>
	<label for="password">Confirm Password</label>
	<input type="password" name="confirm_password"><br>
	<input type="submit" name="create user">
</form>	