<h1>Please enter the following information</h1>

<form action='/new' method="POST">
<label>Name</label>
<input type="text" class="name" name="name">
<label>Number</label>
<input type="text" class="number" name="number"><br><br>
<label>Text Message</label><br><br>
<textarea class="text" cols="86" rows ="20" name="text"></textarea><br>
<input type="submit" name="submit">
</form>